body {
  margin:0px;
}

.app {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 60px;
  height: 60px;
}

.game .grid {
  padding:2px
}

