body {
  margin:0px;
  background-image: url('images/1624.jpg');
  height: 620px;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin-top: 10%;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 60px;
  height: 60px;
}

.game .grid {
  padding:2px
}

